<a href="https://colab.research.google.com/github/2403a54081-arch/batch-18-DAV/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#creating a list

In [1]:
my_list = [1, 2, 3, "apple", "banana"]
print("List:", my_list)

List: [1, 2, 3, 'apple', 'banana']

#creating a tuple

In [2]:
my_tuple = (10, 20, "cherry", "date")
print("Tuple:", my_tuple)

Tuple: (10, 20, 'cherry', 'date')

#creating a dictionary

In [3]:

my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print("Dictionary:", my_dictionary)

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}